@import "theme-colors.scss";
@mixin google-font($font) {
  @import url('https://fonts.googleapis.com/css2?family=#{$font}&display=swap');
}

$theme-colors: (
  "primary": $primary,
  "gray-1": $gray1,
  "white": $white,
  "dark-overlay":$darkoverlay
);
$font-family-base: 'Roboto';
$body-bg: $gray1;
@import "bootstrap/bootstrap.scss";
@import 'typography.scss';
@import 'generics.scss';
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@include google-font('Roboto');
html[dir=ltr] {
    $start:left;
    $end:right;
    @import "spacing";

}
html[dir=rtl] {
    $start:right;
    $end:left;
    @import "spacing";
}
