<section>
    <div class="dark-overlay w-100 bg-dark-overlay position-absolute">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="display-4 text-white">Build <strong>social profiles</strong> and gain revenue and <strong>prof its</strong></h1>
                        <div class="d-flex flex-row">
                            <div class="align-selft-start p-4">
                                <i class="fas fa-check bg-white text-primary p-2 border-radius-5 size-20"></i>
                            </div>
                            <div class="align-self-end p-4 text-white">
                                ome quick example text to build on the card title and make up the bulk of the card's content.
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="align-selft-start p-4">
                                <i class="fas fa-check bg-white text-primary p-2 border-radius-5 size-20"></i>
                            </div>
                            <div class="align-self-end p-4 text-white">
                                ome quick example text to build on the card title and make up the bulk of the card's content.
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="align-selft-start p-4">
                                <i class="fas fa-check bg-white text-primary p-2 border-radius-5 size-20"></i>
                            </div>
                            <div class="align-self-end p-4 text-white">  
                                ome quick example text to build on the card title and make up the bulk of the card's content.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-primary text-center card-form">
                            <div class="card-body">
                                <h3>Sign Up Today</h3>
                                 <p>Please fill out this from to register </p>
                                 <form action="">
                                     <div class="form-group">
                                         <input type="text" placeholder="Username" class="form-control form-control-lg">
                                     </div>
                                     <div class="form-group">
                                        <input type="email" placeholder="Email" class="form-control form-control-lg">
                                     </div>
                                     <div class="form-group">
                                        <input type="password" placeholder="Password" class="form-control form-control-lg">
                                     </div>
                                     <div class="form-group">
                                        <input type="password" placeholder="Confirm Password" class="form-control form-control-lg">
                                     </div>
                                     <input type="submit" class="btn btn-outline-light btn-block">
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>