<header id="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top border-bottom border-primary">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
               <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">LoopLAB</a>
            <div class="collapse navbar-collapse">
               <ul class="navbar-nav ml-auto">
                   <li class="nav-item">
                       <a  class="nav-link">Home</a>
                   </li> 
                   <li class="nav-item">
                       <a  class="nav-link">Explore</a>
                   </li>
                   <li class="nav-item">
                       <a  class="nav-link">Create</a>
                   </li>
                   <li class="nav-item">
                       <a  class="nav-link">Share</a>
                   </li>
               </ul>
            </div>
        </div>
   </nav>
</header>
