.navbar {
    opacity: 0.8;
    border-width: 3px !important;
}
#header {
    background-image: url(../../assets/images/pexels-creative-vix-9746.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}