<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4 text-white">Explore</h1>
                    <p class="lead text-white">
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="explore-section" class="bg-light text-muted pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/explore-section1.jpg" alt="" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>Explore & Connect </h3>
                <p>
                    ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check text-white bg-dark-overlay p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-muted">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check text-white bg-dark-overlay p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-muted">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check text-white bg-dark-overlay p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-muted">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4 text-white">Create</h1>
                    <p class="lead text-white">
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="explore-section" class="bg-darkoverlay text-muted pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Explore & Connect </h3>
                <p>
                    ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check bg-white text-primary p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-white">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check bg-white text-primary p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-white">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check bg-white text-primary p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-white">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/create-section1.jpg" alt="" class="img-fluid rounded-circle mb-3">
            </div>
        </div>
    </div>

</section>
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4 text-white">Share</h1>
                    <p class="lead text-white">
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white text-muted pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/share-section1.jpg" alt="" class="img-fluid rounded-circle mb-3">
            </div>
            <div class="col-md-6">
                <h3>Create Your Passion</h3>
                <p>
                    ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check text-white bg-dark-overlay p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-muted">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check text-white bg-dark-overlay p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-muted">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="align-selft-start p-4">
                        <i class="fas fa-check text-white bg-dark-overlay p-2 border-radius-5 size-20"></i>
                    </div>
                    <div class="align-self-end p-4 text-muted">  
                        ome quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
