<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-muted text-center">
                <div class="pt-9 pb-9">
                    <h1 class="h3">LoopLAB</h1>
                    <p>Copyright &copy; 2017</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade text-dark" id="contactModal">
    <div class="modal-dialog">
        <div class="modal-content p-8">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalTitle">
                    Contact Us
                </h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action=""> 
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="moda-footer">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </div>
</div>